@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/inter';
@import './colorTokens.css';
@import './radiusTokens.css';
@import './typographyTokens.css';
@custom-variant dark (&:is(.dark *));

:root {
  /* 設計稿 seematic design 設定 */
  --primary: var(--primary-500);
  --on-primary: var(--neutral-white);
  --primary-container: var(--primary-100);
  --primary-dim: var(--primary-600);
  --on-primary-dim: var(--neutral-white);
  --secondary: var(--secondary-500);
  --on-secondary: var(--neutral-700);
  --secondary-container: var(--secondary-200);
  --accent: var(--accent-primary);
  --on-accent: var(--neutral-700);
  --error: var(--function-error-dark);
  --on-error: var(--neutral-white);
  --error-container: var(--function-error-light);
  --success: var(--function-success-dark);
  --on-success: var(--neutral-white);
  --success-container: var(--function-success-light);
  --info: var(--function-info-dark);
  --on-info: var(--neutral-white);
  --info-container: var(--function-info-light);
  --surface: var(--neutral-white);
  --hover: color-mix(in srgb, var(--on-surface), transparent 94%);
  --on-surface: var(--neutral-black);
  --on-surface-variant: var(--neutral-600);
  --on-surface-lighter: var(--neutral-500);
  --surface-dim: var(--neutral-200);
  --surface-lighter: var(--neutral-100);
  --outline: var(--neutral-400);
  --outline-variant: var(--neutral-300);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  /* 設計稿設定 */
  /* radius */
  --radius-none: var(--rounded-none);
  --radius-xs: var(--rounded-xs);
  --radius-sm: var(--rounded-sm);
  --radius-md: var(--rounded-md);
  --radius-lg: var(--rounded-lg);
  --radius-xl: var(--rounded-xl);
  --radius-2xl: var(--rounded-2xl);
  --radius-3xl: var(--rounded-3xl);
  --radius-full: var(--rounded-full);

  /* font family */
  --font-sans: var(--ft-ch-base);
  --font-mono: var(--ft-ch-base);
  --ft-ch-base: var(--ft-ch-base);
  --ft-en-base: var(--ft-en-base);

  /* font size */
  --text-6xl: var(--fs-6xl);
  --text-5xl: var(--fs-5xl);
  --text-4xl: var(--fs-4xl);
  --text-3xl: var(--fs-3xl);
  --text-2xl: var(--fs-2xl);
  --text-xl: var(--fs-xl);
  --text-lg: var(--fs-lg);
  --text-md: var(--fs-md);
  --text-sm: var(--fs-sm);

  /* line height, letter-spacing */
  --leading-md: var(--lh-md);
  --leading-sm: var(--lh-sm);
  --tracking-lg: var(--ls-lg);
  --tracking-md: var(--ls-md);

  /* shadow */
  --shadow-card: var(--shadow-down-sm);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-primary-dim: var(--primary-dim);
  --color-secondary: var(--secondary);
  --color-secondary-container: var(--secondary-container);
  --color-accent: var(--accent);
  --color-on-accent: var(--on-accent);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-success: var(--success);
  --color-on-success: var(--on-success);
  --color-success-container: var(--success-container);
  --color-info: var(--info);
  --color-on-info: var(--on-info);
  --color-info-container: var(--info-container);
  --color-surface: var(--surface);
  --color-hover: var(--hover);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-on-surface-lighter: var(--on-surface-lighter);
  --color-surface-dim: var(--surface-dim);
  --color-surface-light: var(--surface-light);

  /* shadcn 元件設定 */
  --color-background: var(--surface);
  --color-foreground: var(--on-surface);
  --color-card: var(--surface);
  --color-card-foreground: var(--on-surface);
  --color-popover: var(--surface);
  --color-popover-foreground: var(--on-surface-variant);
  /* --color-primary: var(--primary); */
  --color-primary-foreground: var(--on-primary);
  /* --color-secondary: var(--secondary); */
  --color-secondary-foreground: var(--on-secondary);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: color-mix(in srgb, var(--color-on-surface), transparent 70%);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: var(--primary);
  --color-destructive: var(--error);
  --color-border: var(--outline);
  --color-border-variant: var(--outline-variant); /* 自訂 */
  --color-input: var(--outline);
  --color-ring: color-mix(in srgb, var(--on-surface), transparent 80%);
  --color-ring-primary: color-mix(in srgb, var(--primary), transparent 75%); /* 自訂 */
  --color-ring-destructive: color-mix(in srgb, var(--error), transparent 80%); /* 自訂 */
  --color-chart-1: var(--error); /* 蛋白質 */
  --color-chart-2: var(--primary); /* 碳水量 */
  --color-chart-3: var(--secondary); /* 脂肪量 */
  --color-title: color-mix(in srgb, var(--color-on-surface), transparent 0%); /* 自訂 */
  --color-subtitle: color-mix(in srgb, var(--color-on-surface), transparent 30%); /* 自訂 */
  --color-subtitle-variant: color-mix(in srgb, var(--color-on-surface), transparent 50%); /* 自訂 */

  /* --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  */
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-surface text-on-surface;
  }
  html {
    @apply font-sans;
  }
  display-1,
  .display-1 {
    @apply text-6xl font-semibold leading-sm;
  }
  h1,
  .h1 {
    @apply text-5xl font-semibold leading-sm;
  }
  h2,
  .h2 {
    @apply text-4xl font-semibold leading-sm;
  }
  h3,
  .h3 {
    @apply text-3xl font-semibold leading-sm;
  }
  h4,
  .h4 {
    @apply text-2xl font-semibold leading-sm;
  }
  h5,
  .h5 {
    @apply text-xl font-semibold leading-sm;
  }
  h6,
  .h6 {
    @apply text-lg font-semibold leading-sm text-on-surface;
  }
  p {
    @apply text-md font-normal leading-md text-on-surface;
  }
  .body-1 {
    @apply text-lg font-normal leading-md text-on-surface;
  }
  .body-2 {
    @apply text-md font-normal leading-md text-on-surface;
  }
  .body-3 {
    @apply text-sm font-normal leading-md text-on-surface;
  }
  .body-1-emphasis {
    @apply text-lg font-medium leading-md text-on-surface;
  }
  .body-2-emphasis {
    @apply text-md font-medium leading-md text-on-surface;
  }
  .body-3-emphasis {
    @apply text-sm font-medium leading-md text-on-surface;
  }
}
